.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .navBar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
  }
  .navBar li {
    margin: 0;
  }
  .navBar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  .navBar a:hover {
    background-color: #555;
  }