.titolo{
    text-align: center;
    margin-top: 2%;
  }
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  li{
    list-style-type: none;
  }
  .nota{
    width: auto; 
    min-width: 250px; 
    max-width: 100%; 
    flex: 1 1 300px;
  }
  article {
    display: flex;
    flex-direction: column;
    margin: 2%;
    height: 100%; 
    border: 2px solid;
    border-color: rgb(11, 12, 16);
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
  }
  .delete {
    margin-right: 0;
    font-size: 15px;
  }
  .addTask{
    width: 40%;
    padding: 5px;
  }
  .addDesc{
    width: 40%;
    padding: 5px;
  }
  .inserimento, .filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .addTask,
  .addDesc,
  button {
    margin: 0;
  }
  .task-container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; 
    box-shadow: 0px 8px 21px 5px rgba(130, 130, 130, 0.31);
  }
  .filter-buttons {
    margin-top: 2%;
  }
  
  .task-title, .task-description {
    word-break: break-word;
    flex-grow: 1;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }